*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.all{
    background: black;
}

.img {
    background-image: url(a.jpg);
    background-repeat:no-repeat;
    background-size:100% 100vh;
    width:100%;
}

.img h1 {
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img h2{
color:white;
display:flex;
justify-content: center;
align-items: center;
font-size: 33px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: -60px;
}


.img h3{
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}


.img ul li{
    display:flex;
    justify-content: right;
    margin: 23px;
    color:yellow;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header p{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding-top: 17px;
}

.header h4{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.v{
    background: black;
    margin-top: 100px;
}

.v p{
  color:rgb(0, 217, 255);
  margin: 10px;
}

.v h5{
    color:rgb(217, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* small Mobil*/

@media (min-width:297px){
    .img h1{
        font-size: 25px;
    }

    .img h2{
        font-size: 23px;
    }

    .img h3{
        font-size: 20px;
    }

    .img ul li{
        font-size: 17px;
    }

    .header p{
        font-size: 20px;
    }

    .header h4{
        font-size: 20px;
    }

    .header{
        margin-top: 145px;
    }
    .v h5{
        font-size: 25px;
    }
}

/* small Mobil*/

@media (min-width:400px){
    .img h1{
        font-size: 30px;
    }

    .img h2{
        font-size: 25px;
    }

    .img h3{
        font-size: 23px;
    }

    .img ul li{
        font-size: 17px;
    }

    .header p{
        font-size: 22px;
    }

    .header h4{
        font-size: 20px;
    }

    .header{
        margin-top: 145px;
    }
    .v h5{
        font-size: 30px;
    }
}

/* small screen*/

@media (min-width:600px){
    .img h1{
        font-size: 50px;
    }

    .img h2{
        font-size: 30px;
    }

    .img h3{
        font-size: 23px;
    }

    .img ul li{
        font-size: 23px;
    }

    .header p{
        font-size: 30px;
    }

    .header h4{
        font-size: 25px;
    }

    .header{
        margin-top: 80px;
    }
    .v h5{
        font-size: 30px;
    }
}

